
body {
    background-color: black;
}

h1 {
    color: white
}

.ball {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    align-items: center;

}