
body {
    background-color: black;
}

h1 {
    color: white
}

.ball {
    display: flex;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    
    font-size: 22px;
    font-weight: bold;

    margin: auto;
    justify-content: center;
    align-items: center;

    transition: 1s;
}